
<link rel = "stylesheet" type = "text/css" href = "..\public\assets\styles.css">
<body>
  <div id = "wrapper">
    <% include partials/nav.ejs %>
    <h1>Welcome to AnimeSearch</h1>
    <p>an anime directory</p>
    <p>Search Characters</p>
</div>
</body>
