<link rel = "stylesheet" type = "text/css" href = "..\public\assets\styles.css">
<!--<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>-->
<script type = "text/javascript" src = "../node_modules/jquery/dist/jquery.js"></script>
<script type = "text/javascript" src = "../public/assets/search.js"></script>
<body>
  <div id = "wrapper">
    <% include partials/nav.ejs %>
    <h1>Search Your Anime Character</h1>

    <form id = "search">
      <label for = "name">Name</label>
      <input type = "text" id = "name">
      <button type = "submit">submit</button>
    </form>

    <h2>You have found "placeholder"</h2>
    <img src = "http://noompang.com/images/explore/default-user.png">


  </div>
</body>
