<head>
  <link rel = "stylesheet" type = "text/css" href = "..\public\assets\styles.css">
  <script type = "text/javascript" src = "../node_modules/jquery/dist/jquery.js"></script>
  <script type = "text/javascript" src = "../public/assets/upload.js"></script>
</head>

<body>
  <div id = "wrapper">
    <% include partials/nav.ejs %>
    <h1>Upload an Anime character</h1>
    <form id = "upload">
      <label for = "name">Name</label>
      <input type = "text" id = "name">
      <br>
      <label for = "image">Image Link</label>
      <input type = "text" id = "image">
      <button>submit</button>
    </form>
  </div>
</body>
